
body {
    background-image: url(newImages/background-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 400px;
    background-image: linear-gradient(#dc5a539b, #fa408454);
    text-align: center;
}
h1 {
    transform: translate(40%, -1950%);
}
.son{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transform: translateY(-10%);
    font-size: 24px;
    padding: 6px 50px;
    line-height: 25px;
}
.span {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 700;
}